extends ../layouts/main-layout.pug

block style
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if orders.length > 0
            ul 
                each order in orders
                    li 
                        h3 Title: #{order.id}
                        ul
                            each product in order.products
                                li 
                                    h1 title: #{product.title} and #{product.orderItem.quantity}                                    

        else
            h1 Không có sản phẩm nào trong giỏ hàng